    * {
        margin: 0;
        padding: 0;
        font-size: 1vw;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    * header {
        width: 100%;
        background-color: #FFF3F3;
        height: 12vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    * header .topleft {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 4vw 3vw;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    }
    
    * header .topleft .logotyp {
        width: 80%;
        height: 4.2vw;
    }
    
    * header .topright {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 2vw 3vw;
    }
    
    * header .topright .baner1 {
        width: 60vw;
        height: 8vw;
    }
    
    * #menu {
        width: 100%;
        height: 3em;
        background-color: #8E1616;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        -webkit-box-shadow: 0px 31px 25px 0px rgba(0, 0, 0, 0.64);
        -moz-box-shadow: 0px 31px 25px 0px rgba(0, 0, 0, 0.64);
        box-shadow: 0px 31px 25px 0px rgba(0, 0, 0, 0.64);
    }
    
    * #menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    * #menu ul li {
        list-style: none;
        margin: 0.5vw 3vw;
    }
    
    * #menu ul li a {
        text-decoration: none;
        font-size: 1.8vw;
        color: white;
    }
    
    * #background {
        width: 100%;
        height: 70vw;
        background-color: #CECECE;
    }
    
    * #backgroundimg {
        width: 100%;
        height: 53vw;
        background-image: url(../img/traffic-332857_1920.jpg);
        background-size: cover;
    }
    
    * h1 {
        color: white;
        font-size: 3vw;
        padding: 4vw 5vw 1vw;
        font-weight: lighter;
    }
    
    * h2 {
        color: black;
        font-size: 3.2vw;
        font-weight: 540;
        text-align: center;
        padding: 1.5vw 22vw;
        line-height: 1.5em;
    }
    
    * #form {
        width: 80%;
        height: 47vw;
        background-color: rgba(255, 255, 255, 0.75);
        margin: 1vw auto;
        border: 0.15vw solid gray;
    }
    
    * #inputs {
        width: 100%;
        padding: 1vw auto;
    }
    
    * form {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    
    * #top,
    #bottom {
        display: flex;
        justify-content: space-between;
        margin: 2vw 10vw;
        border-radius: 30%;
    }
    
    #box {
        display: flex;
        flex-flow: column;
    }
    
    label {
        font-size: 1.5vw;
        font-weight: 500;
    }
    
    input,
    select {
        width: 25vw;
        height: 3.5vw;
        font-size: 1.5vw;
        font-weight: 500;
        padding: 0 0.5vw;
    }
    
    #selectOption {
        -moz-appearance: none;
        appearance: none;
        -webkit-appearance: none;
        background: url(../img/down-arrow.png) no-repeat right;
        background-position: 95% 50%;
        background-size: 2vw;
        background-color: white;
        padding-right: 2vw;
    }
    
    button {
        margin: 2vw auto;
        display: block;
        background-color: green;
        text-decoration: none;
        width: 20vw;
        height: 3vw;
        border-radius: 1vw;
        border-style: none;
        color: white;
        font-size: 2.5vw;
        cursor: pointer;
    }
    
    button:hover {
        background-color: rgb(50, 221, 93);
    }
    
    #result {
        color: green;
        font-size: 2.3vw;
        margin: 3.3vw 15vw 0;
        font-weight: medium;
    }
    
    h3 {
        text-align: center;
        font-size: 2.5vw;
        font-weight: 540;
        line-height: 1.5em;
    }
    
    p {
        text-align: center;
        font-size: 1.8vw;
        font-weight: 540;
        margin: 0 25vw;
        line-height: 1.5em;
    }
    
    #whitecontainer {
        display: flex;
        justify-content: space-between;
        margin: 8vw 8vw;
    }
    
    #left,
    #right {
        width: 35vw;
        height: 28vw;
        border-top: 0.2vw solid;
        border-bottom: 0.1vw solid rgba(90, 82, 82, 0.4);
        border-left: 0.1vw solid rgba(90, 82, 82, 0.4);
        border-right: 0.1vw solid rgba(90, 82, 82, 0.4);
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.48);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.48);
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.48);
        padding: 3vw;
    }
    
    #left>h3,
    #right>h3 {
        color: rgb(83, 103, 167);
        text-align: left;
        line-height: 1em;
        font-size: 2vw;
    }
    
    #left>p,
    #right>p {
        font-size: 1.4vw;
        margin: 0;
        text-align: left;
        color: rgba(0, 0, 0, 0.7);
    }
    
    #left>ul,
    #right>ul {
        margin: 1vw 0;
        list-style: none;
        line-height: 2.5em;
    }
    
    #left ul li,
    #right ul li {
        font-size: 1.4vw;
        color: rgba(0, 0, 0, 0.7);
    }
    
    span {
        color: green;
        padding-right: 2vw;
    }
    
    * h4 {
        padding: 1vw 0;
    }
    
    * footer {
        background-color: black;
        width: 100%;
        height: 18vw;
    }
    
    * footer #menubottom {
        width: 100%;
        height: 3em;
        background-color: black;
    }
    
    * footer #menubottom ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    * footer #menubottom ul li {
        list-style: none;
        margin: 2vw 3vw;
    }
    
    * footer #menubottom ul li a {
        text-decoration: none;
        font-size: 1.5vw;
        color: white;
    }
    
    * footer .footerimg {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-right: 5vw;
        padding-top: 3.5vw;
        width: 100%;
    }
    
    * footer .footerimg .logotyp {
        width: 22%;
        height: 4.5vw;
    }
    
    * footer h4 {
        display: block;
        text-align: center;
        color: white;
        height: 5vw;
        padding-top: 2vw;
    }
    
    * footer p,
    p>a {
        color: white;
        font-size: 0.8vw;
        text-decoration: none;
        font-weight: lighter;
        padding-bottom: 0.5vw;
        background-color: black;
    }
    
    @media (max-width: 480px) {
        header .topright {
            display: none;
        }
        header .topleft {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 4vw 3vw;
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        header .topleft .logotyp {
            width: 20vw;
            height: 5.5vw;
            padding-top: 1vw;
        }
        #menu ul,
        footer ul {
            padding: 0 35vw;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
        #form {
            width: 100%;
            border: none;
        }
        h2 {
            padding: 1.5vw 15vw;
        }
        label {
            font-size: 2vw;
            font-weight: 500;
        }
        input,
        select {
            width: 30vw;
            height: 5vw;
            font-size: 1.5vw;
            font-weight: 500;
        }
        #whitecontainer {
            flex-flow: column;
        }
        #left,
        #right {
            width: 60vw;
            height: 28vw;
            border-top: 0.2vw solid;
            border-bottom: 0.1vw solid rgba(90, 82, 82, 0.4);
            border-left: 0.1vw solid rgba(90, 82, 82, 0.4);
            border-right: 0.1vw solid rgba(90, 82, 82, 0.4);
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.48);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.48);
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.48);
            padding: 3vw;
            margin: 3vw auto;
        }
        footer {
            width: 100%;
            height: 25vw;
            background-color: black;
            padding: 0.5vw 0;
        }
        footer .footerimg {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
            padding: 5vw 0;
        }
        footer .footerimg .logotyp {
            width: 21%;
        }
        footer h4 {
            padding: 1vw;
            font-size: 1vw;
        }
    }